/* fileUploader.css */
.birthdayContainer{min-width: 1300px;}
.fileContainer{
  max-width: 1000px;
  margin-top: 250px;
}
.App {
    text-align: center;
    padding: 20px;
  }
  
  input[type='file'] {
    margin: 10px 0;
  }
  